body {
    padding: 0;
    margin: 0;
    background: black;
    color: #c2e6ff;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 5vw;
    color: rgba(240, 248, 255, 100)
  }
